<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.hellow.mvc.dto.CustomerDto" alias="customerDto"/>
		<typeAlias type="com.hellow.mvc.dto.CalendarDto" alias="calendarDto"/>
	</typeAliases>

	<!-- resource : src/main/resources -->
	<mappers>
		<mapper resource="/sqls/mapper.xml"/>
		<mapper resource="/sqls/calendar-mapper.xml"/>
	</mappers>

</configuration>


